body {
    background-color: lightgrey;
}

form {
    text-align: center;
    margin-top: 20px;
}

#preview {
    text-align: center;
    margin-top: 10px;
}

#close, #export {
    float: right;
    margin-right: 10px;
}

span {
    display: inline;
}

label {
    display: block;
}

#submit {
    margin-top: 30px;
}

iframe, object, embed {
    max-width: 100%;
}